<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <button class="navbar-burger" data-target="topbar-nav">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <a href="/"><img src="{{uiRootPath}}/img/logo_istudio.png" class="navbar-logo" alt="IStudio ASBL logo"></a>
      </div>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="qui-sommes-nous.html">Accueil</a>
        <a class="navbar-item" href="programme.html">Programme</a>
        <a class="navbar-item" href="soutiens.html">Soutiens</a>
        <a class="navbar-item" href="newsletter.html">Newsletter</a>
        <a class="navbar-item" href="contact.html">Contact</a>
        <a class="navbar-item" href="https://www.facebook.com/Istudio.bruxelles"><img
            src="{{uiRootPath}}/img/logo_facebook.jpg" class="navbar-logo" alt="IStudio ASBL on Facebook"></a>
      </div>
    </div>
  </nav>
</header>